#downloads {
	background-position-x: -6px;
}

img.noborder {
	border: 0 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

#version {
    margin-top: 7px;
    margin-left: -22px;
    position: absolute;
    color: grey;
}

.exe_download_link {
	display: block;
	float: right;
	width: 90px;
	height:70px;
	text-indent: -5000px;
	overflow: hidden;
	background: url(../images/sprite_download.png) no-repeat bottom right;
	margin-left: 10px;
}

.exe_download_link:hover {
	background: url(../images/sprite_download.png) no-repeat top right;
}